.default-btn{
    background-color: $primary;
    border:none;
    font-weight: 400;
    padding: 1.2rem 1rem;
    border-radius: 50px;
    color:$light;
}
.default-btn-rectangulo{
    border-radius: 0;
    padding: .5rem 1rem;
    color:$light;
    background-color: $primary;
    border:none;
    font-weight: 400;
    text-align: center;
}